<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.activity.mapper.ActivityMatchesAthletesMapper">
    
    <resultMap type="ActivityMatchesAthletes" id="ActivityMatchesAthletesResult">
        <result property="id" column="id"/>
        <result property="matchId" column="match_id"/>
        <result property="teamId" column="team_id"/>
        <result property="athleteId" column="athlete_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    
    <sql id="selectActivityMatchesAthletesVo">
        select id, match_id, team_id, athlete_id, create_by, create_time, update_by, update_time, remark from activity_matches_athletes
    </sql>
    
    <select id="selectActivityMatchesAthletesList" parameterType="ActivityMatchesAthletes" resultMap="ActivityMatchesAthletesResult">
        <include refid="selectActivityMatchesAthletesVo"/>
        <where>  
            <if test="matchId != null "> and match_id = #{matchId}</if>
            <if test="teamId != null "> and team_id = #{teamId}</if>
            <if test="athleteId != null "> and athlete_id = #{athleteId}</if>
        </where>
    </select>
    
    <select id="selectActivityMatchesAthletesById" parameterType="Long" resultMap="ActivityMatchesAthletesResult">
        <include refid="selectActivityMatchesAthletesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertActivityMatchesAthletes" parameterType="ActivityMatchesAthletes" useGeneratedKeys="true" keyProperty="id">
        insert into activity_matches_athletes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="matchId != null">match_id,</if>
            <if test="teamId != null">team_id,</if>
            <if test="athleteId != null">athlete_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="matchId != null">#{matchId},</if>
            <if test="teamId != null">#{teamId},</if>
            <if test="athleteId != null">#{athleteId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>
     
    <update id="updateActivityMatchesAthletes" parameterType="ActivityMatchesAthletes">
        update activity_matches_athletes
        <trim prefix="SET" suffixOverrides=",">
            <if test="matchId != null">match_id = #{matchId},</if>
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="athleteId != null">athlete_id = #{athleteId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteActivityMatchesAthletesById" parameterType="Long">
        delete from activity_matches_athletes where id = #{id}
    </delete>
    
    <delete id="deleteActivityMatchesAthletesByIds" parameterType="String">
        delete from activity_matches_athletes where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>